<ui:composition template="/template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="conteudo">
		
		<h:outputText value="Issue cadastrada com sucesso!"/>	
				
	</ui:define>
	
</ui:composition>
